*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
    padding: 20px 0;
    background-color: red;
}

.canvasBox{
    width: 78%;
    height: 160px;
    border-radius: 10px;
    background-color: #FFF;
    margin-left: 11%;
    line-height: 160px;
    text-align: center;
    position: relative;
}

#canvas{
    width: 96%;
    height: 96%;
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: transparent;
}