html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.main {
    height:100%;
    /* position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto; */
}

.box {
    padding: 10px;
    float: left;
}