<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/1.js"></script>
</head>

<body>
    <div class="page" id="my">
        <!-- 开屏广告 -->
        <div class="page-ad" v-show="adBack">
            <span class="jump" @click="jump" v-cloak>点击跳转<b>{{time}}</b></span>
        </div>
        <!-- 主体登录 -->
        <div class="page-contaniner">
            <div class="login-header">
                <div class="pic"><img src="./img/logo.jpeg"></div>
            </div>
            <div class="login-content">
                <div class="panel">
                    <div class="icon"><i class="iconfont">&#xe600;</i></div>
                    <input type="text" class="mobile btn" v-model="mobile" placeholder="手机号">
                    <span class="error-tip" v-show="!mobile">手机号不能为空</span>
                </div>
                <div class="panel">
                    <div class="icon"><i class="iconfont">&#xe615;</i></div>
                    <input type="password" class="password btn" v-model="password" placeholder="密码">
                    <span class="error-tip" v-show="!password">密码不能为空</span>
                </div>
                <div class="panel">
                    <button type="button" class="btn-login btn login" :disabled="!mobile || !password" @click="login">立即登录</button>
                </div>
                <div class="lastPanel ">
                    <a class="text">我要注册</a>
                    <span>|</span>
                    <a class="text">忘记密码</a>
                </div>
                <div class="msg-tip">
                    <span>请输入正确信息</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>