html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

@font-face {
    font-family: 'iconfont';
    /* project id 1617400 */
    src: url('//at.alicdn.com/t/font_1617400_re45k11ps9n.eot');
    src: url('//at.alicdn.com/t/font_1617400_re45k11ps9n.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1617400_re45k11ps9n.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1617400_re45k11ps9n.woff') format('woff'),
        url('//at.alicdn.com/t/font_1617400_re45k11ps9n.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1617400_re45k11ps9n.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

img {
    width: 100%;
}

/* 去除input默认样式 */
input {
    background: none;
    outline: none;
    border: none;
    height: 50px;
    width: 80%;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.page-contaniner {
    position: relative;
    height: 100%;
    background-image: url('../img/bgc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-header {
    height: 30vh;
}

.login-content {
    height: 70vh;
}

.pic {
    position: absolute;
    top: 10vh;
    left: 50%;
    width: 100px;
    transform: translate(-50%)
}

.pic img {
    border-radius: 50%;
}

.panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 字体图标处理 */
.panel .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 10vw;
    padding-left: 10px;
    text-align: center;
}

.panel .error-tip {
    margin-top: 10px;
    margin-left: 10vw;
    align-self: flex-start;
    color: red;
    font-size: 14px;
    display: none;
}

.panel button {
    display: inline-block;
    width: 80%;
    height: 50px;
    margin-top: 25px;
    background-color: #0085d7;
    /* background-color: #74859f; */
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    outline: none;
    border:none;
    color: #fff;
    cursor: pointer;
}

.lastPanel {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.lastPanel span {
    margin: 0 8px;
}

.msg-tip {
    margin-left: 10vw;
    margin-top: 20px;
    height: 45px;
    line-height: 45px;
    width: 80%;
    color: red;
    border-radius: 10px;
    background-color: #74859f;
    opacity: 0.6;
    display: none;
    text-align: center;
}