* {
    margin: 0;
    padding: 0;
}
.slider {
    width: 720px;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
}
.sliders {
    width: 10000px;
    height: 450px;
}
.slide {
    float: left;
}
.slide img {
    width: 720px;
    height: 450px;
}